*{
    margin: 0;
    padding: 0;
}

$crema:#EFE7DC;
$azulPastel:#32569A;
$fondoEst:#C2D2E9;
$azulfuerte:#1E3664;

.flex{
    display: flex;
    position: sticky;
}
.HomeE{
    display:flex;
}
.Encabezado{
    background-color: $azulfuerte;
    padding: 1rem 2rem;
    border-bottom: 3px solid $azulfuerte;
    width: 100vw;
    height: 90px;
}
.barraOculta{
    width: calc(100vw - 81px);
}
.barraActiva{
    width: calc(100vw - 251px);
}
.Plani{
    width: calc(100vw - 251px);
    height:calc(100vh - 132px);
    background-color: #C2D2E9;
    .Planificacion{
        margin-left: 0%;
        margin-right: 0%;
        background-color: $fondoEst;
        background-size: cover;
        .titulo{
            display: flex;
            font-size: 40px;
            padding-left: 700px;
            font-style: italic;
            padding-top: 15px;
            padding-bottom: 15px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 700;
            color: #1E3664;
        }
        .NumSprint{
            padding-left: 70px;
            display:block;
            font-size: 30px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 600;
            color:#1E3664;
            .bt{
                display: flex;
                .IncremBtn{
                    margin-left: 20px;
                    align-items: center;
                    border-radius: 5px;
                    background-color: #1E3664;
                    :hover{
                        cursor: pointer;
                    }
                    svg{
                        font-size: 35px;
                        color: #EFE7DC;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
                .Contador{
                    padding-left: 25px;
                    padding-right: 5px;
                    left:15px;
                    position: sticky;
                    align-items: center;
                }
                .DecremBtn{
                    margin-left: 20px;
                    align-items: center;
                    border-radius: 5px;
                    background-color: #1E3664;
                    :hover{
                        cursor: pointer;
                    }
                    svg{
                        font-size: 35px;
                        color: #EFE7DC;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
            }
            .SP{
                display: block;
                font-weight: 500;
            }
        }
        .botones{
            display: flex;
            .formS{
                width: 100vw;
                height: 100vh;
                top: 0;
                bottom: 0;
                position: fixed;
                border-radius: 5px solid $azulfuerte;
                .overlay {
                    background:  #4645436e;
                }
                .formS-contenido{
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    line-height: 1.4;
                    background:$crema;
                    padding: 14px 28px;
                    max-width: 600px;
                    min-width: 300px;
                    align-content: center;
                    justify-content: center;
                    display: block;
                    padding-bottom: 20px;
                    .Modal{
                        padding-top: 20px;
                        .encabeza{
                            font-size: 35px;
                            color: #1E3664;
                            font-weight: 50px;
                        }
                    }
                    .añadido{
                        margin-left: 20px;
                        align-content: center;
                        padding: 10px 20px;
                        display: flex;
                        margin: 100px auto 0;
                        font-size: 18px;
                        margin-left: 20px;
                        align-items: center;
                        border-radius: 5px;
                        background-color: #1E3664;
                        :hover{
                            cursor: pointer;
                        }
                        span{
                            color: #EFE7DC;
                            padding-right: 8px;
                            font-size: 20px;
                        }
                    }                    
                }
            }
            .GuardarSp{
                align-content: center;
                padding: 50px;
                width: 1000px;
                .tabla{
                    border-color: #1E3664;
                    font-size: 36px;
                    border-radius: 5px;
                }
            }
        }  
    }
}
.copy{
    margin-bottom: 0;
    border-bottom: 1px solid $azulfuerte;
}

