*{
    margin: 0;
    padding: 0;
}

$crema:#EFE7DC;
$azulPastel:#32569A;
$fondoEst:#C2D2E9;
$azulfuerte:#1E3664;

.FLEX {
    display: flex;
    width: 100%;
    height: 100vh;
}
.HomeE{
    display:flex;
}
.Encabezado{
    background-color: $azulfuerte;
    padding: 1rem 2rem;
    border-bottom: 3px solid $azulfuerte;
    width: 100vw;
    height: 90px;
}
.barraOculta{
    width: calc(100vw - 81px);
}
.barraActiva{
    width: calc(100vw - 251px);
}
.Plani{
    display: relative;
    flex-direction: row;
    width: 100vw;
    height:100vh;
    background-color: #C2D2E9;
    .BarraLateral{
        width: 20vw;
        min-width: 250px;
    }
    .Planificacion{
        flex-grow: 1;
        background-color: $fondoEst;
        background-size: cover;
        height: 100vh;  // Asegura que tome toda la altura de la pantalla
        overflow-y: auto;
        .titulo{
            font-size: 40px;
            padding: 15px 0;
            font-style: italic;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 700;
            color: #1E3664;
            text-align: center;
            width: 100%;
        }
        .NumSprint{
            padding-left: 20px;
            font-size: 30px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 600;
            color:#1E3664;
            .bt{
                display: flex;
                align-items: center;
                justify-items: center;
                .IncremBtn,
                .DecremBtn {
                  margin-left: 20px;
                  border-radius: 5px;
                  background-color: #1E3664;
                  display: flex;
                  align-items: center;

                    :hover {
                        cursor: pointer;
                    }
                    svg {
                        font-size: 35px;
                        color: #EFE7DC;
                        padding: 0 5px;
                    }
               }
               .Contador {
                padding-left: 20px;
                font-size: 32px; // Ajustado para mejor visibilidad
                font-weight: 600;
              }
            }
            .SP{
                display: block;
                font-weight: 500;
                margin-top: 20px
            }
        }
    }
    .Guardar{
        position: absolute;
        bottom: 20px;
        right: 20px;
        .guardaP{
            margin-left: 20px;
            align-items: center;
            display: flex;
            border-radius: 5px;
            background-color: #1E3664;                
            color: #EFE7DC;
            font-size: 30px;
            justify-content: center;
            padding-left: 10px;
            padding-right: 10px;
            :hover{
                cursor: pointer;
            } 
        }
        .guardaP:disabled {
            background-color: #ccc; /* Color de fondo del botón cuando está deshabilitado */
            cursor: not-allowed; /* Indicador de que no se puede hacer clic cuando está deshabilitado */
          }
    }
    .botones{
        display: flex;
        .formS{
            width: 100vw;
            height: 100vh;
            top: 0;
            bottom: 0;
            position: fixed;
            border-radius: 5px solid $azulfuerte;
            background:  #4645436e;
            .formS-contenido{
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                background:$crema;
                padding: 14px 28px;
                max-width: 600px;
                min-width: 300px;
                align-content: center;
                justify-content: center;
                display: block;
                padding-bottom: 20px;
                .Modal{
                    padding-top: 20px;
                    .encabeza{
                        font-size: 35px;
                        color: #1E3664;
                        font-weight: 700;
                    }
                }
                .añadido{
                    margin-top: 20px;
                    padding: 10px 20px;
                    display: flex;
                    font-size: 18px;
                    align-items: center;
                    border-radius: 5px;
                    background-color: #1E3664;
                    :hover{
                        cursor: pointer;
                    }
                    span{
                        color: #EFE7DC;
                        padding-right: 8px;
                        font-size: 20px;
                    }
                }                    
            }
        }
        .GuardarSp{
            align-content: center;
            padding: 50px;
            width: 100%;
            .tabla{
                border: 2px solid $azulfuerte;
                font-size: 36px;
                border-radius: 5px;
            }
        }
    }
}
.copy{
    margin-bottom: 0;
    border-bottom: 1px solid $azulfuerte;
}
.seguimiento{
    display: relative;
    flex-direction: row;
    width: 100vw;
    height:100vh;
    background-color: #C2D2E9;
    .BarraLateral{
        width: 20vw;
        min-width: 250px;
    }
    .SeguiSprint{
        flex-grow: 1;
        background-color: $fondoEst;
        background-size: cover;
        height: 100vh;  // Asegura que tome toda la altura de la pantalla
        overflow-y: auto;
        .TITULO{
            font-size: 45px;
            padding: 15px 0;
            font-style: italic;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 700;
            color: #1E3664;
            text-align: center;
            width: 100%;
        }
        .NOMgrupo{
            padding-left: 50px;
            font-size: 30px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 500;
            color:#1E3664;
            padding-bottom: 20px;
        }
        .table {
            width: 90%; // Ajusta el ancho de la tabla
            margin: 20px auto; // Centrar la tabla y agregar margen superior
            border-collapse: collapse; // Asegura que los bordes se vean bien unidos
          
            th, td {
              border: 1px solid $azulfuerte; // Borde alrededor de las celdas
              padding: 12px; // Espaciado dentro de las celdas
              text-align: center; // Centrar el contenido de las celdas

            }
          
            th {
              background-color:$azulPastel; // Cambia el color de fondo del encabezado
              color:$crema; // Color de texto en el encabezado
              text-transform: uppercase; // Texto en mayúsculas
              font-size: 22px;
            }
            td{
                background-color:  #7ea1d3;
                font-size: 20px;
                :hover {
                    background-color:  #678bbe; // Color al hacer hover sobre una fila
                }
            }
          
            tr:nth-child(even) {
              background-color:  #7ea1d3; // Color de fondo alternativo para filas pares
            }
          
            tr:hover {
              background-color:  #678bbe; // Color al hacer hover sobre una fila
            }
          
            // Estilo del botón dentro de la tabla
            .btn-link {
              background: none;
              border: none;
              color: $azulfuerte;
              cursor: pointer;
              text-decoration: underline;
              font-size: 20px;

          
              &:hover {
                color:#2a3b53 ; // Cambia el color al hacer hover
              }
            }
            .estado{
                background-color:  #7ea1d3;
            }
          
            // Estilo del botón de editar
            .btn-primary {
              background-color:$azulfuerte;
              border: none;
              padding: 6px 12px;
              color: $crema;
              cursor: pointer;
          
              &:hover {
                background-color: #1976D2;
              }
            }
          }
          
    }
}
.evaluacion{
    display: relative;
    flex-direction: row;
    width: 100vw;
    height:100vh;
    background-color: #C2D2E9;
    .BarraLateral{
        width: 20vw;
        min-width: 250px;
    }
    .final{
        flex-grow: 1;
        background-color: $fondoEst;
        background-size: cover;
        height: 100vh;  // Asegura que tome toda la altura de la pantalla
        overflow-y: auto;
        .tit{
            font-size: 45px;
            padding: 15px 0;
            font-style: italic;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 700;
            color: #1E3664;
            text-align: center;
            width: 100%;
        }
        .descripcion{
            padding-left: 50px;
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 500;
            color:#1E3664;
            padding-bottom: 20px;
        }
        .casillas{
            padding-left: 50px;
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 500;
            color:#1E3664;
            padding-bottom: 20px;
        }
    }
}
