.background-color {
    background-color: #c2d2e9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .form-container {
    background-color: #c2d2e9;
    border-radius: 0px;
    padding: 10px;
    width: 80%;
    height: 100%;
    box-shadow: none !important; 
    border: none !important;     
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-left: 380px;
  }
  
  .form-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 200px;
    margin-left: 150px;
  }
  
  .input-field {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .form-row .input-field:last-child {
    margin-right: 0;
  }
  
  label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #1E3664;
    font-weight: bold; /* Para que las etiquetas sean en negrita */
  }
  /* Estilos para los botones */
  .button-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .btn-register, .btn-cancel {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .btn-register {
    background-color: #1F3765;
    color: white;
    border: none;
  }
  
  .btn-cancel {
    background-color: #ff4d4d;
    color: white;
    border: none;
  }
  
  .btn-register:hover, .btn-cancel:hover {
    opacity: 0.8;
  }
  
  