.background-image {
  background-image: url("/src/Imagenes/UMSSENTRADA6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-container {
  background-color: rgba(192, 205, 222, 0.8);
  border-radius: 10px;
  padding: 30px;
  width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.form-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-row .input-field:last-child {
  margin-right: 0;
}

label {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #1E3664;
  font-weight: bold; /* Para que las etiquetas sean en negrita */
}
/* Estilos para los botones */
.button-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.btn-register, .btn-cancel {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.btn-register {
  background-color: #1F3765;
  color: white;
  border: none;
}

.btn-cancel {
  background-color: #ff4d4d;
  color: white;
  border: none;
}

.btn-register:hover, .btn-cancel:hover {
  opacity: 0.8;
}


